* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/ocean.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
}

.container-first-page {
    max-width: 35%;
    max-height: 50%;
    min-height: 320px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); 
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);  
}

.container-first-page > h1  {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 35px auto;
}

h2 {
    margin-top: 5%;
}

.switch-login-register {
    text-align: center;
}

.switch-login-register > p{
    margin: auto;
    color: rgba(255, 255, 255, 0.863)
}

a {
    pointer-events: auto;
    cursor: pointer;
    margin: 0 10px;
}

.a-link {
    /* color: rgb(61, 89, 245); */
    color: rgba(255, 255, 255, 0.863);
}

.a-link:hover {
    color: rgb(113, 132, 240);
}


.p-error-message {
    color: red;
    font-size: 0,5rem;
}

/* buttons */
.div-for-btn {
    text-align: end;
    margin: auto;
    line-height: 5;
}
.div-for-text {
    width:50%;
    text-align: center;
    margin: 5px auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
}

.div-for-text > p {
    margin: 5px auto;
    color:rgb(243, 94, 8);
}

.button-to-logout {
    margin: 30px 0 ;
}

.btn-login-register {
    display: block;
    margin: 0 auto;
}

/* font-awesome */
.fa-edit,
.fa-trash {
    display: inline;
}

/* bootstrap */
th, td {
    text-align: center;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    max-width: 300px;
}

.table {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-color: transparent
}

/* modals */
.modal-lg {
    max-width: 600px;
    
}
.modal-title {
    margin: auto;
}

.modal-footer {
    justify-content: space-between;
}

.p-in-modal {
    text-align: center;
    font-size:larger;
}

/* spinners */
.spinner-border {
    display: block;
    margin: auto;
}

/* nav */
.nav-item-username > h2{
    text-align: left;
}

.nav-justified > .nav-item-button-logout {
    text-align: right;
}

/* additives */
.straight-line {
    height: 1px;
    background-color: #6c757d;
    width: 90%;
    margin: 10px auto;
}


@media (max-width:  600px) {
    .container-first-page {
        max-width: 70%;
        max-height: 70%;
    }
}

@media (min-width: 601px) {
    .switch-login-register > p{
        display: inline-block;
    }
}