* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/ocean.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.container-first-page {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);   
}

h2 {
    margin-top: 5%;
}

a {
    pointer-events: auto;
    cursor: pointer;
    margin: 0 10px;
}

.p-in-modal {
    text-align: center;
}

.p-error-message {
    color: red;
    font-size: 0,5rem;
}

/* buttons */
.div-for-btn {
    text-align: center;
    margin: auto;
    line-height: 5;
}
.div-for-text {
    width:50%;
    text-align: center;
    margin: 5px auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
}

.div-for-text > p {
    margin: 5px auto;
    color:rgb(243, 94, 8);
}

.button-to-logout {
    margin: 30px 0 ;
}


/* font-awesome */
.fa-edit,
.fa-trash {
    display: inline;
}

/* bootstrap */
th, td {
    text-align: center;
   
    overflow: hidden;
  text-overflow: ellipsis;
}

td {
    max-width: 300px;
}

.table {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-color: transparent
}

 /* modals */
.modal-title {
    margin: auto;
}

.modal-footer {
    justify-content: space-between;
}


/* spinners */
.spinner-border {
    display: block;
    margin: auto;
}


