/* *  {
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;

}

.app-header {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-modal  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    min-height: 30vh;
    padding: 7px;
    border: 2px solid rgb(164, 164, 235);
    border-radius: 5px  5px 5px 5px;
    text-align: center;
}

.small-component {
    margin-top: 5%;
}

.pwd-container {
    position: relative;
}
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 20px;
    top: 19px;
  }

.alerts-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vh;
    background-color: rgb(230, 120, 77) ;
    color: white;
    border: 2px solid rgb(230, 120, 77);
    border-radius: 5px  5px 5px 5px;
} */